*{
    padding: 0;
}

.galeria{
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.galeria .fotos{
    display: flex;
    width: 2700px;
    height: 600px;
}



.galeria .fotos img{
    position: relative;
    animation-name: slides;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: running;
}

@keyframes slides{
    0%{
        left: 0px;
    }
    10%{
        left: -900px;
    }
    20%{
        left: -900px;
    }
    30%{
        left:-900px;
    }
    40%{
        left: -1800px;
    }
    50%{
        left: -1800px;
    }
    60%{
        left: -1800px;
    }
    70%{
        left: -900px;
    }
    80%{
        left: -900px;
    }
    90%{
        left: 0px;
    }

    100%{
        left: 00px;
    }



}